html{
    font-size: 20px;
}
*{
    margin: 0;
    padding: 0;
}

.zyjh5DatePicker{
    position: fixed;
    left: 0;
    right: 0;
    height: 21rem;
    bottom: -21rem;
    background-color: #ffffff;
    font-size: .8rem;
    color: #000000;
    border-top-right-radius: .4rem;
    border-top-left-radius: .4rem;
    box-shadow: 0 .3rem .8rem 0 #222222;
    transition: bottom .5s;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    z-index: 10000;
}

.zyjh5DatePicker.active{
    bottom: 0;
}

.zyjh5DatePicker-title{
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #000000;
}

.zyjh5DatePicker-closebox{
    position: absolute;
    width: .5rem;
    height: .5rem;
    right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.zyjh5DatePicker-closebox-line1,.zyjh5DatePicker-closebox-line2{
    height: .7rem;
    width: .1rem;
    background-color: #999999;
    border-radius: .05rem;
}

.zyjh5DatePicker-closebox-line1{
    transform: rotate(45deg) translateX(.05rem);
}

.zyjh5DatePicker-closebox-line2{
    transform: rotate(-45deg) translateX(-.05rem);
}

.zyjh5DatePicker-day{
    background-color: rgba(247, 247, 247, 1);
    display: flex;
    height: 1.5rem;
    justify-content: space-evenly;
    align-items: center;
}

.zyjh5DatePicker-day-item{
    width: 2rem;
    text-align: center;
}

.zyjh5DatePicker-day-weekend{
    color: rgba(237, 45, 7, 1);
}

.zyjh5DatePicker-yearslide{
    height: 2rem;
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}

.zyjh5DatePicker-yearslide-iconleft,.zyjh5DatePicker-yearslide-iconright{
    height: .3rem;
    width: .3rem;
    border-top: .1rem solid #dedede;
}

.zyjh5DatePicker-yearslide-iconright{
    transform: rotate(45deg);
    border-right: .1rem solid #dedede;
}

.zyjh5DatePicker-yearslide-iconleft{
    transform: rotate(-45deg);
    border-left: .1rem solid #dedede;
}

.zyjh5DatePicker-date-row{
    height: 2.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.zyjh5DatePicker-date-colum.active{
    color: white;
    background: red;
    /* border-radius: 50%; */
}

.zyjh5DatePicker-date-colum-wrap{
    /* border-radius: 50%; */
    height: 2rem;
    width: 2rem;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    /* position: relative; */
}

.zyjh5DatePicker-date-colum-wrap.xiu{
    background: #fff0f0;
}

.zyjh5DatePicker-date-colum-wrap.shangban{
    background: #f5f5f5;
}

.zyjh5DatePicker-date-colum-wrap.active{
    color: #ffffff;
    background: #f43 !important;
    /* border: .05rem solid #999999; */
    box-shadow: 0 .05rem .05rem 0 #f1eded;
}

.zyjh5DatePicker-date-colum-wrap-date,.zyjh5DatePicker-date-colum-wrap-info{
    text-align: center;
}

.zyjh5DatePicker-date-colum-wrap-status{
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    width: 2rem;
    height: .6rem;
    line-height: .6rem;
    font-size: .4rem;
    text-align: center;
}

/* .zyjh5DatePicker-date-colum-wrap-status.active{
    background: #f43;
    color: #ffffff;
} */

.zyjh5DatePicker-date-colum-wrap-date{
    height: .8rem;
    line-height: .8rem;
}

.zyjh5DatePicker-date-colum-wrap-info{
    font-size: .4rem;
    height: .4rem;
    line-height: .4rem;
    margin-top: .1rem;
    width: 2rem;
}

.cantchoose{
    color: #999999 !important;
}

.mui-backdrop{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0;
    background: rgba(0, 0, 0, .3);
    z-index: 999;
}

#zyjh5DatePicker-mask.active{
    height: auto;
    top: 0;
}